<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - Shell + Python part I</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Welcome and introduction</td>                </tr>
      <tr> <td>09:30</td>  <td><a href="http://swcarpentry.github.io/shell-novice/01-intro/index.html">Shell: Introducing the Shell </a></td>   </tr>
      <tr> <td>09.40</td>  <td><a href="http://swcarpentry.github.io/shell-novice/02-filedir/index.html">Shell: Navigating Files and Directories</a> </td>       </tr>
      <tr> <td>10.20</td>  <td>Coffee break</td>                            </tr>
      <tr> <td>10.30</td>  <td><a href="http://swcarpentry.github.io/shell-novice/03-create/index.html">Shell: Working With Files and Directories</a></td>      </tr>
      <tr> <td>11:10</td>  <td><a href="http://swcarpentry.github.io/shell-novice/04-pipefilter/index.html">Shell: Pipes and Filters</a> </td>                      </tr>
      <tr> <td>12:00</td>  <td><a href="http://swcarpentry.github.io/shell-novice/05-loop/index.html">Shell: Loops</a></td>                                   </tr>
      <tr> <td>12:50</td>  <td>Lunch break</td>                             </tr>
      <tr> <td>14:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/01-numpy/index.html">Python: Analyzing Patient Data</a></td>                  </tr>
      <tr> <td>15:30</td>  <td>Python: Coffee break</td>                            </tr>
      <tr> <td>15:45</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/02-loop/index.html">Python: Repeating actions with loops</a></td>            </tr>
      <tr> <td>16:15</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/03-lists/index.html">Python: Storing multiple values in lists</a></td>        </tr>
      <tr> <td>16:45</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/04-files/index.html">Python Analysing data from multiple files</a></td>      </tr>
      <tr> <td>17:05</td>  <td>Python: Wrap-up of the day</td>                      </tr>
      <tr> <td>17:15</td>  <td>Finish</td>                                  </tr>

    </table>
  </div>

  <div class="col-md-6">
    <h3>Day 2 - Python part II + Git</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/05-cond/index.html">Python: Making choices</a></td>                                      </tr>
      <tr> <td>09:30</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/06-func/index.html">Python: Creating functions</a></td>                                  </tr>
      <tr> <td>10:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/07-errors/index.html">Python: Errors and exceptions</a> </td>                              </tr>
      <tr> <td>10:30</td>  <td>Coffee break</td>                                                </tr>
      <tr> <td>10:45</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/08-defensive/index.html">Python: Defensive programming </a></td>                              </tr>
      <tr> <td>11:15</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/09-debugging/index.html">Python: Debugging</a></td>                                           </tr>
      <tr> <td>11:45</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/10-cmdline/index.html">Python: Command-line programs</a></td>                               </tr>
      <tr> <td>12:15</td>  <td>Lunch break</td>                                                 </tr>
      <tr> <td>13:15</td>  <td><a href="http://swcarpentry.github.io/git-novice/02-setup/index.html">Git: intro, config, repository, changes, history</a> </td>           </tr>
      <tr> <td>14:20</td>  <td><a href="http://swcarpentry.github.io/git-novice/06-ignore/index.html">Git: gitignore, remotes, collaborating, conflicts</a></td>           </tr>
      <tr> <td>15:35</td>  <td>Coffee break</td>                                                </tr>
      <tr> <td>16:00</td>  <td><a href="http://swcarpentry.github.io/git-novice/10-open/index.html">Git: Open Science, licensing, citation, hosting, RStudio</a> </td>   </tr>
      <tr> <td>16:45</td>  <td>Wrap-up</td>                                                     </tr>
      <tr> <td>17:00</td>  <td>Finish: drinks at the CREA café</td>                             </tr>
    </table>
  </div>
</div>
