<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - Shell + Python part I</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Welcome and introduction</td>                </tr>
      <tr> <td>09:30</td>  <td>Shell: Introducing the Shell</td>                   </tr>
      <tr> <td>09.40</td>  <td>Shell: Navigating Files and Directories </td>       </tr>
      <tr> <td>10.20</td>  <td>Coffee break</td>                            </tr>
      <tr> <td>10.30</td>  <td>Shell: Working With Files and Directories</td>      </tr>
      <tr> <td>11:10</td>  <td>Shell: Pipes and Filters </td>                      </tr>
      <tr> <td>12:00</td>  <td>Shell: Loops</td>                                   </tr>
      <tr> <td>12:50</td>  <td>Lunch break</td>                             </tr>
      <tr> <td>14:00</td>  <td>Python: Analyzing Patient Data</td>                  </tr>
      <tr> <td>15:30</td>  <td>Python: Coffee break</td>                            </tr>
      <tr> <td>15:45</td>  <td>Python: Repeating actions with loops</td>            </tr>
      <tr> <td>16:15</td>  <td>Python: Storing multiple values in lists</td>        </tr>
      <tr> <td>16:45</td>  <td>Python Analysing data from multiple lists</td>      </tr>
      <tr> <td>17:05</td>  <td>Python: Wrap-up of the day</td>                      </tr>
      <tr> <td>17:15</td>  <td>Finish</td>                                  </tr>

    </table>
  </div>

  <div class="col-md-6">
    <h3>Day 2 - Python part II + Git</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Python: Making choices</td>                                      </tr>
      <tr> <td>09:30</td>  <td>Python: Creating functions</td>                                  </tr>
      <tr> <td>10:00</td>  <td>Python: Errors and exceptions </td>                              </tr>
      <tr> <td>10:30</td>  <td>Coffee break</td>                                                </tr>
      <tr> <td>10:45</td>  <td>Python: Defensive programming </td>                              </tr>
      <tr> <td>11:15</td>  <td>Python: Debugging</td>                                           </tr>
      <tr> <td>11:45</td>  <td>Python: Command-line programs</td>                               </tr>
      <tr> <td>12:15</td>  <td>Lunch break</td>                                                 </tr>
      <tr> <td>13:15</td>  <td>Git: intro, config, repository, changes, history </td>           </tr>
      <tr> <td>14:20</td>  <td>Git: gitignore, remotes, collaborating, conflicts</td>           </tr>
      <tr> <td>15:35</td>  <td>Coffee break</td>                                                </tr>
      <tr> <td>16:00</td>  <td>Git: Open Science, licensing, citation, hosting, RStudio </td>   </tr>
      <tr> <td>16:45</td>  <td>Wrap-up</td>                                                     </tr>
      <tr> <td>17:00</td>  <td>Finish: drinks at the CREA café</td>                             </tr>
    </table>
  </div>
</div>