<p>
  This workshop will give a first introduction to a typical messenger RNA-Seq analysis by combining a short lecture with an extensive practical hands-on session.<br>     
  <strong>Upon completion of this workshop, you'll be able to:</strong>
  <ul>
    <li>understand the main steps of a typical mRNA-Seq analysis.</li>
    <li>know some basic information about how (Illumina) sequencing works.</li>
    <li>obtain some hands-on experience on remote/cloud computing</li>
    <li>know what NGS quality checks actually mean.</li>
    <li>know more about read trimming</li>
    <li>perform read mapping</li>
    <li>count mapped reads and normalise these counts</li>
    <li>perform differential expression and some other post-alignment steps</li>
  </ul> 
  Participants will be encouraged to help one another and to apply what they have learned to their own research problems.
  <br>
</p>
