<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr> <td>13.00 - 13.15</td>  <td> <strong>Introduction</strong> 01. How next-generation sequencing works</td> <td>Ernest</td></tr>
      <tr> <td>13.15 - 13.45</td>  <td> <strong>Introduction</strong> 02. Main steps of a typical mRNA-Seq analysis</td> <td>Ernest</td> </tr>
      <tr> <td>13.45 - 14.30</td>  <td> <strong>Introduction</strong> 03. Set-up: fastq files, genome sequence, annotation, softwares</td> <td>Tijs</td></tr>
      <tr> <td>14.30 - 15.00</td>  <td> <strong>Practical</strong> 04. QC of one raw mRNA-Seq fastq file using <em>fastQC</em></td> <td>Tijs</td> </tr>
      <tr> <td>15:00 - 15.15</td>  <td>Coffee break</td> </tr>
      <tr> <td>15.15 - 16.00</td>  <td> <strong>Practical</strong> 05. Read alignment with <em>hisat2</em> and counting with <em>featureCounts</em> </td> <td>Tijs</td> </tr>
      <tr> <td>16.00 - 16.15</td>  <td> <strong>Practical</strong> 06. File preparation for use in the <em>ideal</em> online application</td> <td>Marc</td> </tr>
      <tr> <td>16:15 - 17.00</td>  <td> <strong>Practical</strong> 07. Data exploration using the <em>ideal</em> Shiny app</td> <td>Marc</td> </tr>
    </table>
  </div>
</div>
